@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.95);
  }
}

@theme {
  --color-cubedpink: #d31dde;
  --color-cubedpurple: #4935e8;
  --color-cubedlightpurple: #a61ee8;
  --color-cubedblue: #560bff;
  --color-cubedlightblue: #3b59ff;
  --color-cubeddark: #2e0f52;
  --animate-fadein: fadeIn 0.1s ease-out;
  --animate-fadeout: fadeOut 0.15s ease-out forwards;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.2em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
