@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --color-purple: #560bff;
  --color-dark-purple: #3c149a;
  --color-pink: #d31dde;
  --color-dark-pink: #8b3390;
  --color-light-purple: #a61ee8;
  --color-deep-purple: #2e0f52;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.btn {
  border-radius: 0;
  border: 0;
}

.btn:hover {
  border-radius: 3px;
}
.btn:active,
.btn:focus,
.btn:active:focus {
  box-shadow: none;
}

.btn-primary,
.btn-cubicon {
  background-color: var(--color-purple);
}
.btn-cubicon:focus,
.btn-primary:hover,
.btn-cubicon:hover {
  background-color: var(--color-dark-purple);
}

.btn-animation {
  background-color: var(--color-pink);
}
.btn-animation:focus,
.btn-animation:hover {
  background-color: var(--color-dark-pink);
}

.app-card {
  border: 1px solid var(--color-deep-purple);
  border-radius: 3px;
  padding: 20px;
}
